{erl_opts, [
  %% native,
  debug_info,
  fail_on_warning,
  {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
  {nkdist,
   {git, "git://github.com/yurrriq/nkdist.git",
    {branch, "master"}}},
  {nkpacket,
   {git, "git://github.com/yurrriq/nkpacket.git",
    {branch, "master"}}},
  {nkdocker,
   {git, "git://github.com/yurrriq/nkdocker.git",
    {branch, "master"}}},
  {eper,
   {git, "git://github.com/yurrriq/eper.git",
    {branch, "master"}}},
  {lager,
   {git, "git://github.com/basho/lager.git",
    {tag, "3.1.0"}}}
]}.

{plugins, [rebar3_run]}.

{profiles, [
  {test, [
    {erl_opts, [
      export_all,
      debug_info,
      {i, "include"},
      {src_dirs, ["src", "test"]},
      {parse_transform, lager_transform}
    ]}
  ]},
  {dev1, [{relx, [{sys_config, "./util/dev1/sys.config"}]}]},
  {dev2, [{relx, [{sys_config, "./util/dev2/sys.config"}]}]},
  {dev3, [{relx, [{sys_config, "./util/dev3/sys.config"}]}]},
  {dev4, [{relx, [{sys_config, "./util/dev4/sys.config"}]}]},
  {dev5, [{relx, [{sys_config, "./util/dev5/sys.config"}]}]},
  {dev, [
    {relx, [
      {sys_config, "./test/app.config"},
      {vm_args, "./test/vm.args"}
    ]}
  ]}
]}.


{relx, [
  {release, {nkcluster, "0.1.0"}, [
    nkcluster,
    nkdist,
    lager,
    json,
    setup,
    clique,
    cuttlefish
  ]},

  {dev_mode, true},
  {include_erts, false},

  {vm_args, "./util/dev_vm.args"},

  {extended_start_script, true},
  {overlay, [
    {mkdir, "util"},
    {mkdir, "dev/1/data/ring"},
    {mkdir, "dev/2/data/ring"},
    {mkdir, "dev/3/data/ring"},
    {mkdir, "dev/4/data/ring"},
    {mkdir, "dev/5/data/ring"},
    {copy, "./util/riak_core.schema", "util/riak_core.schema"}
  ]}
]}.
